.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.mainText {
    font-size: 5em;
    font-family: "Arial";
    text-align: center;
    font-weight: bold;
}

.lowerText {
    font-size: 2.5em;
    font-family: "Arial";
    text-align: center;
    text-transform: uppercase;
}
